<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- ******* BEGIN STLYE ******* -->
    <style>
    body, html {
        height: 100%;
        margin: 0;
        overflow: hidden
    }

    .bg {
        background-image: url("{% static 'black_background.jpg' %}");

        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .car {
        height: 10px;
        width: 10px;
    }

    .redCar {
        height: 10px;
        width: 10px;
    }

    .greenCar{
        height: 10px;
        width: 10px;
    }

    .question_icon {
        height: 20px;
        width: 20px;
    }

    dialog {
        position: absolute;
        align-items: center;
        height: 100px;
    }
    </style>

<!-- ******* END STLYE ******* -->


<!-- ******* BEGIN HTML/CONTENT ******** -->
 
    <title>Speed Racer</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body onload="speak('Let\'s go')">

    <div class="bg">

        <main style="color:white;">
        <h1 style="text-align: center;">Race Time</h1>  
	<br>
	<div class="score1" id="score1"> Player 1 Score: 0 </div>
        <br>
        <div class="score2" id="score2">Player 2 Score: 0</div>
	<br>
        <div class="score3" id="score3">AI Player Score: 0</div>

        
        <dialog id = "dialog">
                <center>
                <div id = "prompt"> Answer The Math Problem! </div>

                <div id="math"> Math Question</div>

                <input id = "answer" type="text" autofocus>
                <br>
                <br>
                <button id="submit"> Submit Answer </button>
                </center>
                
        </dialog>

        <br>
        <button
                class="btn btn-primary"
                onclick="window.location.href='{% url 'mainmenu' %}';"
        >
	Exit to Main Menu
        </button>
    </main>

    <div class = "question_icon"> <img id = question width = 35 src="{% static 'question.png' %}"> </img> </div>

    <div class = "car"> <img id = rcar width = 50 src="{% static 'RedCar.png' %}"> </img> </div>
    <div class = "car"> <img id = gcar width = 50 src="{% static 'GreenCar.png' %}"> </img> </div>
    <div class = "car"> <img id = bcar width = 50 src="{% static 'BlueCar.png' %}"> </img> </div>

    </div>

    <script>

	function Player(name, scoreNum, scoreVar, moveSpeed){
	    this.name = name;
	    this.scoreNum = scoreNum;
	    this.scoreVar = scoreVar;
	    this.moveSpeed = moveSpeed;
	}

        let speed = 10;

        let rcar = document.getElementById('rcar');
        let gcar = document.getElementById('gcar');
	let bcar = document.getElementById('bcar');	
	
        let question = document.getElementById('question');

        let s1 = document.getElementById("score1");
        let s2 = document.getElementById("score2");
	let s3 = document.getElementById("score3");

        let p1_score = 0;
        let p2_score = 0;
	let ai_score = 0;
	
	let p1 = new Player("Player 1", p1_score, s1, speed);
	let p2 = new Player("Player 2", p2_score, s2, speed);
	let ai_player = new Player("AI Player", ai_score, s3, speed);
	let current_player = null;

        let user_answer = document.getElementById("answer");
        let submit_button = document.getElementById("submit");
        let math = document.getElementById("math");
        let prompt = document.getElementById("prompt");

        let car_border = rcar.getBoundingClientRect();
        let gcar_border = gcar.getBoundingClientRect();
	// let bcar_border = bcar.getBoudingClientRect();

        let q_border = question.getBoundingClientRect();
        
        let dialog = document.getElementById("dialog");
        //let gdialog = document.getElementById("dialog2");
        let box_open = false;

        window.addEventListener('load', () => {
                rcar.style.position = 'absolute';
                rcar.style.left = 1000 + 'px';
                rcar.style.top = 600 + 'px';
                rcar.style.transform = '';

                gcar.style.position = 'absolute';
                gcar.style.left = 400 + "px";
                gcar.style.top = 600 + "px";
                gcar.style.transform = '';

                question.style.position = 'absolute';
                question.style.top = 300 + 'px';
                question.style.left = 700 + 'px';
                question.style.padding = 0;
                question.style.border = 0;
                question.style.margin = 0;
        })

	// listener for enter key to submit answer
	window.addEventListener('keyup', (e) => {
		if(e.key == 'Enter'){
			submit_button.click();
		}
	});

	// Player 2 Green listener
        window.addEventListener('keyup', (e) => {

                switch (e.key){
                        case 'd':
                                if(box_open == false){
                                        gcar.style.left = parseInt(gcar.style.left) + speed + 'px';
                                        gcar.style.transform = "rotate(90deg)";
                                        gcar_border = gcar.getBoundingClientRect();
                                        q_border = question.getBoundingClientRect();

                                        if(isColliding(gcar_border, q_border)){
                                       		mathDialog(p2); 
					}
					break;
                                }
                        
                        case 'a':
                                if(box_open == false){
                                        gcar.style.left = parseInt(gcar.style.left) - speed + 'px';
                                        gcar.style.transform = "rotate(-90deg)";
                                        gcar_border = gcar.getBoundingClientRect();
                                        q_border = question.getBoundingClientRect();

      					if(isColliding(gcar_border, q_border)){
						mathDialog(p2);
                               		}
                                	break;
                                }

                        case 'w':
                                if(box_open == false){
                                        gcar.style.top = parseInt(gcar.style.top) - speed + 'px';
                                        gcar.style.transform = "rotate(0deg)";
                                        gcar_border = gcar.getBoundingClientRect();
                                        q_border = question.getBoundingClientRect();

					if(isColliding(gcar_border, q_border)){
						mathDialog(p2);
                               		}
                                	break;
                                }

                        case 's':
                                if(box_open == false){

                                        gcar.style.top = parseInt(gcar.style.top) + speed + 'px';
                                        gcar.style.transform = "rotate(180deg)";
                                        gcar_border = gcar.getBoundingClientRect();
                                        q_border = question.getBoundingClientRect();

					if(isColliding(gcar_border, q_border)){
					    mathDialog(p2);
                                	}	
                                break;
                                }
                }
        });

	// just 1 eventListener for incrementing score
     	submit_button.addEventListener("click", () => {
		if(!current_player)
			return;

		dialog.close();
		let answer_key = eval(math.textContent);

		if(answer_key == user_answer.value){
		current_player.scoreNum ++;
		}
		current_player.scoreVar.textContent = current_player.name + " score: " + current_player.scoreNum;
		question.style.top = RandY() + 'px';
		question.style.left = RandX() + 'px';
		box_open = false;
		current_player = null;
		user_answer.value = "";
	});

	// Player 1, red car control listener
        window.addEventListener('keyup', (e) => {

                switch (e.key){
                        case 'ArrowRight':
                                if(box_open == false){
                                rcar.style.left = parseInt(rcar.style.left) + speed + 'px';
                                rcar.style.transform = "rotate(90deg)";
                                car_border = rcar.getBoundingClientRect();
                                q_border = question.getBoundingClientRect();
                                
				if(isColliding(car_border, q_border)){
				    mathDialog(p1);
                                }
                                break;
                                }
                        case 'ArrowLeft':
                                if(box_open == false){
                                rcar.style.left = parseInt(rcar.style.left) - speed + 'px';
                                rcar.style.transform = "rotate(-90deg)";
                                car_border = rcar.getBoundingClientRect();
                                q_border = question.getBoundingClientRect();
                                
				if(isColliding(car_border, q_border)){
				    mathDialog(p1);
                                }
                                break;
                                }

                        case 'ArrowUp':
                                if(box_open == false){
                                rcar.style.top = parseInt(rcar.style.top) - speed + 'px';
                                rcar.style.transform = "rotate(0deg)";
                                car_border = rcar.getBoundingClientRect();
                                q_border = question.getBoundingClientRect();

				if(isColliding(car_border, q_border)){
                                    mathDialog(p1);
				}
                                break;
                                }

                        case 'ArrowDown':
                                if(box_open == false){
                                rcar.style.top = parseInt(rcar.style.top) + speed + 'px';
                                rcar.style.transform = "rotate(180deg)";
                                car_border = rcar.getBoundingClientRect();
                                q_border = question.getBoundingClientRect();
				
				if(isColliding(car_border, q_border)){
                                    mathDialog(p1);
				}
                                break;
                       		}
                }
        });

        function RandInt(){
            return Math.floor(Math.random() * 11);
        }

        function RandX(){
            return Math.floor(Math.random() * 1400)
        }

        function RandY(){
            return Math.floor(Math.random() * 650)
        }

	function isColliding(car_border, q_border){
	    if(!(car_border.left > q_border.right || car_border.right < q_border.left || car_border.bottom < q_border.top || car_border.top > q_border.bottom)){
	        return true;
	    } else {
		return false;
	    }
	}
	
        function mathDialog(player){
                box_open = true;
		current_player = player;
                math.textContent = RandInt() + "+" + RandInt();
                prompt.textContent = player.name + ", answer the math problem!";
                dialog.showModal();
        }

    </script>

    <script src="{% static 'js/tts.js' %}"></script>
    
  </body>

</html>
