<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <title>Epic Math Race</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Game Time</h1>  
	<br>
	Game content here...
	<br>
	<br>
	and here too...
	<br>
	

        <button
                class="btn btn-primary"
		onclick="speak('Sorry, this functionality is not yet available. Please try again at a later date.')"
		onmouseover="speak('You are hovering')"
        >
	Pause/menu
        </button>

        <button
                class="btn btn-primary"
                onclick="window.location.href='{% url 'mainmenu' %}';"
        >
	Exit to Main Menu
        </button>
    </main>
  </body>
  <script src="{% static 'js/tts.js' %}"></script>
</html>

