<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Math Race</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Main Menu</h1>
	<ul>
		<li> option 1</li>
		<li> next option</li>
	</ul>
	<button
		class="btn btn-primary"
		onclick="window.location.href='{% url 'game' %}';"
	>
		Play Game!	
	</button>
	<button
		class="btn btn-primary"
		onclick="window.location.href='{% url 'index' %}';"
	>
		Exit
	</button>
    </main>
    <!-- script src="index.js"></script -->
  </body>
</html>


