<!DOCTYPE html>
{% load static %}

<html lang="en"> 
  <head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Epic Math Race</title> 
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>

  <body> 
    <main> 
        <h1>Welcome to Epic Math Race</h1> 
 	<button
  	  class="btn btn-primary"
          onclick="navigateToMainMenu()"
 	>
	Continue to Main Menu
	</button>
	
	<script src="{% static 'js/tts.js' %}"></script>
    </main> 
    <!-- script src="index.js"></script --> 
    <script>
    	function navigateToMainMenu(){
		window.location.href='{% url 'mainmenu' %}';
	}
    </script>
  </body> 
</html>
